@import "tailwindcss";

@layer base {
  :root {
    --muted: 40 6% 91%;
  }

  .dark {
    --muted: 0 0% 15%;
  }
}

@layer utilities {
  .border-muted {
    border-color: hsl(var(--muted));
  }

  .animate-progress {
    animation: progress 1s infinite linear;
  }
}

@keyframes progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 30px 30px;
  }
}
